* {
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: teal;
    color: aqua;
    z-index: 999;
    height: 15vh;
}
.nama{
    font-size: 0.9em;
    letter-spacing: 1.5px;
}
.nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
.nav ul li a {
    color: aqua;
    text-decoration: none;
    font-size: 0.9em;
}
.nav ul li a:hover {
    color:rgb(12, 47, 245);
    
}
.nav ul li a:visited {
    color:aqua;
    
}
/* Membuat navbar */
/* membuat jumbotron */
.header {
    padding-top: 140px;
    background-color: rgb(211, 209, 209);
    /* width: 50%; */
    max-height:100vh;
    z-index: 99;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img img {
    border-radius: 50%;
    margin: 10px 0;
    border: solid 5px rgb(71, 65, 65);
    /* width: 50%; */
    height: 300px;
    /* object-fit: cover; */
    object-position: bottom;
    
}
.tesx {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    /* margin-top: 20px; */
}

h1{
    font-size: 2em;
    padding-bottom: 10px;
}
h3 {
    font-size: 1.17em;
}
/* about */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5em;
}
.col{
    flex: 1 0 0%;
}
.h1{
    text-align: center;
    padding-top: 10px;
}
.list li{
    padding: 0.75em 0.375em;
    background-color: gray;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
}

/* ukuran desktop */
@media screen and (max-width:992px) {
    .nav ul {
        justify-content: space-between;
        width: 60%;
        /* background-color: red; */
    }
    
}
/* ukuran tabel */
@media screen and (max-width:768px) {
    .nav ul {
        width: 50%;
    }
    .md {
        flex: 0 0 auto;
        width: 100%;
    }
    .md-2 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
    .nav ul li {
        justify-content: space-around;
        
    }
    .nama{
        display: none;
    }
}