* {
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(184, 182, 182);
    color: rgb(104, 99, 99);
    z-index: 999;
    height: 10vh;
}
.nama{
    font-size: 0.9em;
    letter-spacing: 1.5px;
}
.nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
.nav ul li a {
    color: rgb(104, 99, 99);
    text-decoration: none;
    font-size: 0.9em;
}
.nav ul li a:hover {
    color:rgb(81, 81, 82);
    
}
.nav ul li a:visited {
    color:rgb(104, 99, 99);
    
}
/* Membuat navbar */
/* membuat jumbotron */
.header {
    padding-top: 140px;
    background-color: rgb(211, 209, 209);
    /* width: 50%; */
    max-height:90vh;
    z-index: 99;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.img img {
    border-radius: 50%;
    margin: -10px 0;
    border: solid 5px rgb(71, 65, 65);
    height: 300px;
    object-position: bottom;
    
}
.tesx {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    /* margin-top: 20px; */
}

h1{
    font-size: 2em;
    padding-bottom: 10px;
}
h3 {
    font-size: 1.17em;
}
/* about */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5em;
}
.col{
    flex: 1 0 0%;
}
.h1{
    text-align: center;
    padding-top: 10px;
}
/* membuat list */
.list li{
    padding: 0.75em 0.375em;
    background-color: rgb(168, 168, 168);;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
}
.list  li a {
    color: rgb(104, 99, 99);
    text-decoration: none;
    font-size: 0.9em;
}
.list  li a:hover {
    color:rgb(81, 81, 82);
    
}
.list  li a:visited {
    color:rgb(104, 99, 99);
    
}
/* membuat card */
.card {
    position: relative;
    display: flex;
    /* max-width: 300px; */
    max-height: 300px;
    flex-direction: column;
    background-color: rgb(168, 168, 168);
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 2px;
    border-radius: 5px;
    padding: 10px;
}
.card-judul{
    display: block;
    font-size: 1.17em;
    margin-bottom: 0.5em;
}
.waktu {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}
.footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(184, 182, 182)  ;
    padding: 15px;
}
/* ukuran desktop */
@media screen and (max-width:992px) {
    .nav ul {
        justify-content: space-between;
        width: 60%;
        /* background-color: red; */
    }
    
}
/* ukuran tabel */
@media screen and (max-width:768px) {
    .nav ul {
        width: 50%;
    }
    .md {
        flex: 0 0 auto;
        width: 100%;
    }
    .md-2 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
    .nav ul li {
        justify-content: space-around;
        
    }
    .nama{
        display: none;
    }
}